@import '../helpers/_mixins';

.l-about {
  display: flex;
}
.l-about__col {
  padding-bottom: 49px;
  &_left {
    @include columns(left);
  }
  &_right {
    @include columns(right);
  }
}

.l-about__wrapper {
  @include columns-wrapper();
  &--left {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px;
  }
  &--right {
    margin-right: auto;
    padding: 10px 40px 20px;
  }
}

.c-about {
  max-width: 443px;
  width: 51.55%;
  margin-top: 20px;
  &__pic {
    height: 390px;
    width: 100%;
    @include background();
    margin-bottom: 40px;
  }
}