.c-arrow {
  display: block;
  opacity: .7;
  fill: $white;
  max-width: 26px;
  max-height: 16px;
  cursor: pointer;
  z-index: 111;
  transition: all .5s;
  @include phones() {
    max-width: 1.857rem;
    max-height: 1.143rem;
  }
  &:hover, &:focus {
    opacity: 1;
  }
  &--hero {
    position: absolute;
    @include centered(x);
    bottom: 70px;
    @include tablets() {
      bottom: 50px;
    }
    @include phones() {
      bottom: 3.57rem;
    }
  }
  &--feedback {
    margin: 0 auto;
    transform: rotate(180deg);
  }
  &--blog {
    display: none;
    @include tablets() {
      display: block;
    }
  }
}