@import '../helpers/fonts';

.l-blog {
  position: relative;
  background-color: $white;
  padding: 66px 110px 210px;
  @include desctop() {
    padding: 66px 44px 220px;
  }
  @include tablets() {
    padding: 3.125rem 1.6rem 17.5rem;
  }
  @include phones() {
    padding: 2.5rem 0.714rem 22.5rem;
  }
}
.l-blog-inner {
  display: flex;
  font-size: $middleFont;
  color: #455a64;
  line-height: 1.62;
  position: relative;
}
.l-blog-nav {
  width:17.8%;
  margin-right: 7.3%;
  text-align: right;
  padding-top: 5px;
  @include desctop() {
    width: 23.8%;
    margin-right: 9.2%;
  }
  @include tablets() {
    display: none;
  }
  &__item {
    padding-right: 20px;
    margin-bottom: 20px;
    line-height: 2.6;
    &.active {
      font-weight: $boldFont;
      color: $green;
      border-right: 3px solid $green;
    }
  }
  &__link {
    line-height: 1.6;
    vertical-align: middle;
    display: inline-block;
  }
}
.l-blog-content {
  width:56%;
  @include desctop() {
    width: 62%;
  }
  @include tablets() {
    width: 100%;
  }
  &__data {
    padding-bottom: 65px;
    border-bottom: 5px solid rgba(55, 62, 66, .07);
    margin-bottom: 65px;
    @include tablets() {
      margin-bottom: 50px;
      padding-bottom: 50px;
    }
    @include phones() {
      margin-bottom: 1.857rem;
      padding-bottom: 1.857rem;
    }
    &:last-child{
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  &__title {
    font-weight: $regularFont;
    color: $darkGray;
    font-size: 35px;
    line-height: 1;
    @include bernierRegular;
    margin-bottom: 18px;
    @include tablets() {
      font-size: 30px;
      margin-bottom: 10px;
    }
    @include phones() {
      font-size: 1.5rem;
      margin-bottom: 0.714rem;
      line-height: 1.4;
    }
  }
  &__date {
    font-size: $middleFont;
    color: $green;
    margin-bottom: 20px;
    @include tablets() {
      font-size: 0.875rem;
      margin-bottom: 10px;
    }
    @include phones() {
      font-size: 1rem;
      margin-bottom: 0.8rem;
    }
  }
  &__text {
    line-height: 1.64;
    @include tablets() {
      font-size: 0.875rem;
      line-height: 1.5;
    }
    @include phones() {
      font-size: 1rem;
    }
    p {
      margin-bottom: 10px;
      display: block;
      @include phones() {
        margin-bottom: 1rem;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}