//-Style for footer
.l-footer {
  background-color: rgba(55, 62, 66, .85);
  bottom: 0;
  @include centered(stretchX);
  @include phones() {
    font-size: 0.928rem;
  }
  &__top {
    position: relative;
    &:after {
      content: '';
      bottom: 1px;
      @include centered(stretchX);
      height: 1px;
      width:100%;
      background-color: rgba(255, 255, 255, .1);
    }
  }
  &__top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 30px;
    @include tablets() {
      flex-direction: column;
      justify-content: center;
      padding-top: 27px;
    }
    @include phones() {
      padding-left: 1.5rem;
      padding-top: 2.14rem;
    }
  }
  &__bottom {
    padding: 10px 30px;
    color: $white;
    font-weight: $lightFont;
    line-height: 1.5;
    opacity: .5;
    display: flex;
    justify-content: space-between;
    @include tablets() {
      flex-direction: column;
      justify-content: center;
      padding-top: 15px;
    }
    @include phones() {
      padding: 0.8rem 2.14rem;
      padding-top: 1rem;
    }
    p {
      max-width: 500px;
      @include tablets() {
        max-width: 100%;
        margin-bottom: 15px;
        text-align: center;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include phones() {
        margin-bottom: 1.1rem;
      }
      &:last-child {
        text-align: right;
        @include tablets() {
          text-align: center;
        }
      }
    }
  }
  &--portfolio {
    position: static;
  }
}
.c-footer-nav {
  margin-left: -35px;
  @include tablets() {
    margin-bottom: 15px;
  }
  @include phones() {
    margin-left: -0.5rem;
    margin-bottom: 0;
  }
  &__item {
    margin-left: 35px;
    display: inline-block;
    @include phones() {
      margin-bottom: 1rem;
      margin-left: 0.5rem;
    }
  }
  &__link {
    color: $white;
    font-size: $middleFont;
    font-weight: $mediumFont;
    transition: all .5s;
    @include phones() {
      font-size: 0.928rem;
    }
    &:hover, &:focus {
      color: $green;
    }
  }
}