//-Style for hamburger
.c-hamburger {
  cursor: pointer;
  float: right;
  padding: 15.5px 0;
  &__content {
    background-color: $white;
    border-radius: 2.5px;
    display: block;
    height: 5px;
    position: relative;
    width: 40px;
    &:before, &:after {
      background-color: $white;
      border-radius: 2.5px;
      content: '';
      height: 5px;
      left: 0;
      position: absolute;
      width: 40px;
    }
    &:before {
      top: -15px;
    }
    &:after {
      top: 15px;
    }
  }
}