.menu {
  background-color: #EC7063;
}
.menu__container {
  padding: 0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.menu__row {
  display: inline-block;
  list-style-type: none;
  transition: all 1s;
  background-color: #EC7063;
  border-right: 1px solid #ccc;
  &:hover {
    background-color: #943126;
  }
  &:last-child {
    border-right: none;
  }
}

.menu__link {
  display: block;
  text-decoration: none;
  font: 25px 'Arial', sans-serif;
  color: #353838;
  transition: all 1s;
  padding: 5px 15px;
  &:hover {
    color: #fff;
  }
}
