//Style for parallax of welcome section
.l-parallax {
  @include centered(max);
  z-index: -1;
  &__layer{
    @include centered(stretchX);
    bottom:0;
    text-align: center;
    img {
      vertical-align: bottom;
    }
  }
}
