//Style for parallax of welcome section
.l-parallax {
  height: 100%;
  width: 120%;
  z-index: -1;
  position: absolute;
  left:50%;
  bottom:0;
  text-align: center;
  margin-left: -50%;
  background-image: url('../images/parallax-1.png');
  @include background();
  background-position: center top;
  &__layer{
    position: fixed;
    width: 156.25rem;
    height: 103.8125rem;
    top: 50%;
    left: 50%;
    margin-left: -78.125rem;
    margin-top: -51.875rem;
    @include maxDesctop() {
      width: 109.375rem;
      height: 72.66785rem;
      margin-left: -54.6875rem;
      margin-top: -36.334375rem;
    }
    @include desctop() {
      width: 92.97rem;
      height: 61.77rem;
      margin-left: -46.485rem;
      margin-top: -30.88rem;
    }
    @include tablets() {
      width: 76.56rem;
      height: 50.867rem;
      margin-left: -38.28rem;
      margin-top: -25.4335rem;
    }
    img {
      @include centered(stretchX);
      bottom: 0;
    }
  }
}
