//Style for parallax of welcome section
.l-parallax {
  height: 100%;
  width: 110%;
  z-index: -1;
  position: absolute;
  left:50%;
  bottom:0;
  text-align: center;
  margin-left: -50%;
  background-image: url('../images/parallax-1.png');
  @include background();
  background-position: center top;
  @include phones() {
    width: 120%;
  }
  &__layer{
    position: absolute;
    left:46%;
    height: 100%;
    width: 100%;
    margin-left: -50%;
    img {
      position: absolute;
      bottom: 0;
      left:0;
      right:0;
    }
  }
}
