//Style for preloader

.preloader {
  z-index: 500;
  @include centered(max);
  background-color: #00bfa5;
  height: 100%;
  background-image: url("../images/bg-blue.jpg");
  &__inner {
    height: 100vh;
    @include centered(max);
  }
  &__spinner {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__animation {
    width: 100%;
    height: 100%;
    position: relative;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1.5s linear infinite;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      border: 3px solid transparent;
      border-radius: 50%;
      border-top-color: #fff;
    }
    &:before {
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      animation: spin 2s linear infinite;
    }
    &:after {
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      animation: spin 3s linear infinite;
    }
  }
  &__percents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}