@import '../helpers/_mixins';
@import '../helpers/fonts';

.c-section-title {
  text-align: center;
  position: relative;
  &__img {
    opacity: .07;
    width:100%;
    @include tablets() {
      @include centered(both);
    }
    @include phones() {
      width:60%;
    }
  }
  &__text {
    @include bernierRegular;
    font-size: 63px;
    color: $sectionTitle;
    line-height: 1;
    display: inline-block;
    font-weight: $regularFont;
    @include centered(both);
    letter-spacing: 1px;
    @include tablets() {
      font-size: 49px;
      position: relative;
      transform: translate(0, 0);
      left: 0;
    }
    @include phones() {
      font-size: 2.5rem;
    }
    &:before, &:after {
      background-color: $sectionTitle;
      content: '';
      width: 22px;
      height: 5px;
      opacity: .2;
      position: absolute;
      @include centered(y);
    }
    &:before {
      left: -40px;
    }
    &:after {
      right: -40px;
    }
  }
}

.c-section-title--about {
  position: absolute;
  top: -75%;
  left: 0;
  right: 0;
  .c-section-title__img {
    width:auto;
  }
}
.c-section-title--works {
  padding-bottom: 30px;
  @include tablets() {
    padding-top: 43px;
    padding-bottom: 42px;
  }
}
.c-section-title--reviews {
  margin-bottom: 50px;
  @include tablets() {
    margin-bottom: 40px;
  }
  .c-section-title__text {
    max-width: 290px;
    letter-spacing: 0;
    @include tablets() {
      max-width: 100%;
    }
  }
}
.c-section-title--blog {
  margin-bottom: 14px;
  .c-user__face {
    margin: 0 auto 25px;
  }
  .c-section-title__text {
    color: $white;
    position: relative;
    transform: none;
    left: 0;
    top:0;
    margin-bottom: 4px;
    &:before, &:after {
      background-color: $white;
    }
  }
  .c-section-title__extra {
    color: $white;
    font-size: $middleFont;
    letter-spacing: -0.5px;
  }
}
.c-section-title__img--blog {
  fill: $white;
  margin: auto;
  @include centered(max);
  width:303px;
  margin-top: 90px;
}