.c-triangle {
  display: block;
  height: 150px;
  position: absolute;
  bottom: 100%;
  @include desctop() {
    height: 100px;
  }
  @include tablets() {
    height: 65px;
  }
  @include phones() {
    height: 1.857rem;
  }
  &__left {
    left: 0;
  }
  &__right {
    right: 0;
  }
}
.c-triangle--about {
  width: 100%;
  &.c-triangle__left {
    fill: $lightGray;
  }
  &.c-triangle__right {
    fill: $beige;
  }
}
.c-triangle--works {
  width: 50%;
  fill: $middleGray;
}
.c-triangle--blog {
  width: 50%;
  fill: $white;
}