//-Basic style for user-block
.c-user {
  margin-bottom: 20px;
  @include tablets() {
    margin-bottom: 6px;
  }
  &__face {
    width: 100%;
    min-width: 141px;
    max-width: 141px;
    height: 141px;
    background: url('../images/face.jpg') no-repeat center 0/cover, #e2e2e2;
    border-radius: 50%;
    margin: 0 auto 25px;
    @include phones() {
      min-width: 10.07rem;
      max-width: 10.07rem;
      height: 10.07rem;
      margin-bottom: 1.786rem;
    }
  }
  &__name {
    font-size: 1.75rem;
    line-height: 1.1;
    font-weight: $mediumFont;
    @include phones() {
      font-size: 1.5rem;
    }
  }
  &__prof {
    font-size: 16px;
    line-height: 1.5;
    opacity: .8;
  }
}

//-Style for user-block in section of welcome
.c-user--welcome {
  color: $darkGray;
  margin-bottom: 30px;
  .c-user__face {
    margin: 0 auto 15px;
  }
  .c-user__name {
    margin-bottom: 7px;
  }
}

//-Style for user-block in section of hero
.c-user--hero {
  color: $white;
  .c-user__name {
    font-size: 2.1875rem;
    @include phones() {
      font-size: 1.5rem;
      line-height: 1.8;
    }
  }
  .c-user__prof {
    font-weight: $lightFont;
  }
}