//-Basic style for user-block
.c-user {
  &__face {
    width: 100%;
    min-width: 141px;
    max-width: 141px;
    height: 141px;
    background: url('../images/face.jpg') no-repeat center/cover, #e2e2e2;
    border-radius: 50%;
    margin: 0 auto 25px;
  }
  &__name {
    font-size: 28px;
    line-height: 1.1;
    font-weight: $mediumFont;
  }
  &__prof {
    font-size: 16px;
    line-height: 1.5;
    opacity: .8;
    margin-bottom: 20px;
  }
}

//-Style for user-block in section of welcome
.c-user--welcome {
  color: $darkGray;
  .c-user__face {
    margin: 0 auto 15px;
  }
  .c-user__name {
    margin-bottom: 7px;
  }
  .c-user__prof {
    margin-bottom: 30px;
  }
}

//-Style for user-block in section of hero
.c-user--hero {
  color: $white;
  .c-user__name {
    font-size: 35px;
  }
  .c-user__prof {
    font-weight: $lightFont;
  }
}