@import '../helpers/_mixins';

.l-works {
  position: relative;
  background-color: $middleGray;
}

.l-works__content {
  display: flex;
  @include tablets() {
    flex-direction: column;
  }
}
.l-works__col {
  &_left {
    @include columns(left);
    @include tablets() {
      display: flex;
    }
  }
  &_right {
    @include columns(right);
  }
}

.l-works__wrapper {
  @include columns-wrapper();
  &--left {
    margin-left: auto;
    padding: 20px;
    position: relative;
    height: 100%;
    @include tablets() {
      width: 100%;
      padding: 42px 20px 60px;
    }
    @include phones() {
      padding: 2.143rem 0;
    }
  }
  &--right {
    margin-right: auto;
  }
}