-
  var links = {
      "Login": "/login",
      "Главная" : "/",
      "Загрузка картинок" : "/upload/",
      "Блог" : "/blog",
      "Добавить запись": "/addpost",
      "Отправить письмо" : "/contact"
  };