//colors
$white: #fff;
$lightGray: #efeee9;
$middleGray: #faf8f0;
$beige: #eeebdf;
$blue: #6da3bd;
$green: #00bfa5;
$indexGreen: #10c1a8;
$darkGreen: #009688;
$darkGray: #455a64;
$sectionTitle: #373e42;
$boldFont: 700;
$mediumFont: 500;
$regularFont: 400;
$lightFont: 300;
$middleFont: 16px;
$smallFont: 14px;

@import 'helpers/*';
@import 'sections/*';
@import 'blocks/*';