%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin centered($axis: 'both') {
  position: absolute;

  @if ($axis == 'both') {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == 'x' {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $axis == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $axis == 'max' {
    bottom:0;
    left:0;
    right:0;
    top:0;
  }
  @if $axis == 'stretchX' {
    left:0;
    right:0;
  }
  @if $axis == 'stretchY' {
    top:0;
    bottom:0;
  }
}

@mixin columns($axis: 'left') {
  width: 50%;
  position: relative;

  @if ($axis == 'left') {
    background: $lightGray;
  }

  @if $axis == 'right' {
    background: $beige;
  }
}

@mixin columns-wrapper() {
  max-width: 900px;
}

@mixin background() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin desctop() {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin laptop() {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin tablets() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin phones() {
  @media only screen and (max-width: 480px) {
    @content;
  }
}