// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$fav-mount-name: 'fav_mount';
$fav-mount-x: 73px;
$fav-mount-y: 0px;
$fav-mount-offset-x: -73px;
$fav-mount-offset-y: 0px;
$fav-mount-width: 256px;
$fav-mount-height: 256px;
$fav-mount-total-width: 329px;
$fav-mount-total-height: 256px;
$fav-mount-image: 'sprite.png';
$fav-mount: (73px, 0px, -73px, 0px, 256px, 256px, 329px, 256px, 'sprite.png', 'fav_mount', );
$hero-name: 'hero';
$hero-x: 0px;
$hero-y: 0px;
$hero-offset-x: 0px;
$hero-offset-y: 0px;
$hero-width: 15px;
$hero-height: 17px;
$hero-total-width: 329px;
$hero-total-height: 256px;
$hero-image: 'sprite.png';
$hero: (0px, 0px, 0px, 0px, 15px, 17px, 329px, 256px, 'sprite.png', 'hero', );
$key-name: 'key';
$key-x: 35px;
$key-y: 0px;
$key-offset-x: -35px;
$key-offset-y: 0px;
$key-width: 18px;
$key-height: 17px;
$key-total-width: 329px;
$key-total-height: 256px;
$key-image: 'sprite.png';
$key: (35px, 0px, -35px, 0px, 18px, 17px, 329px, 256px, 'sprite.png', 'key', );
$spritesheet-width: 329px;
$spritesheet-height: 256px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($fav-mount, $hero, $key, );
$spritesheet: (329px, 256px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
