.welcome
    .welcome__inner
        button.welcome__authorization Авторизоваться
        .welcome__card
            section.card
                .card__content
                    .card__face
                    h1.card__name Игошева Анастасия
                    p.card__prof Личный сайт веб разработчика
                    +ul('social', {vk:'https://vk.com/igosh', github:'https://github.com/igosheva', in:'https://github.com/igosheva'})
                +nav('start-nav', {'Мои работы' :'./portfolio.html', 'Обо мне':'./about.html', 'Блок':'./blog.html'})
        footer.welcome__footer
            p © Игошева Анастасия | создано с любовью в LoftSchool | 2017

