//Style for section of hero
.l-hero {
  height: 100vh;
  position: relative;
  width: 100%;
  min-height: 650px;
  @include desctop() {
    min-height: 600px;
    height: auto;
  }
  @include tablets() {
    min-height: 506px;
  }
  @include phones() {
    min-height: 39.643rem;
  }
  &.active {
    position: static;
  }
  &__background {
    @include centered(max);
    z-index: 0;
    height: 119.375rem;
    @include desctop() {
      height: 80rem;
    }
    @include tablets() {
      height: 650px;
    }
    @include phones() {
      height: 50.43rem;
    }
    &:after {
      background-color: rgba(1, 102, 114, .3);
      content: '';
      @include centered(max);
    }
    img {
      max-width: 180%;
      display: block;
      margin: 0 auto;
      min-width: 100%;
      min-height: 130%;
      @include desctop() {
        min-height: 100%;
      }
      @include tablets() {
        height: 100%;
      }
    }
  }
  &__inner {
    z-index: 2;
    padding: 28px 30px;
    @include centered(max);
    @include tablets() {
      padding: 28px 24px;
    }
    @include phones() {
      padding: 0.714rem;
    }
  }
  &__portfolio {
    margin: 0 auto;
    max-height: 313px;
    max-width: 1176px;
    opacity: .06;
    @include centered(stretchX);
    top:-10px;
    width: 100%;
    fill: $white;
    @include tablets() {
      display: none;
    }
  }
  &__content {
    width: 100%;
    text-align: center;
    left:0;
    @include centered(y);
    top:46%;
    @include phones() {
      top: 41%;
    }
  }
}

.l-hero--blog {
  height: 28.6875rem;
  min-height: 28.6875rem;
  @include tablets() {
    min-height: 506px;
  }
  @include phones() {
    min-height: 39.643rem;
  }
  .l-hero__background {
    background-position: center 10%;
  }
  .l-hero__inner {
    max-width: 1200px;
    padding: 30px;
    @include tablets() {
      padding: 28px 24px;
    }
    @include phones() {
      padding: 0.714rem;
    }
  }
  .l-hero__content {
    position: relative;
    transform: none;
    margin-top: 25px;
    @include tablets() {
      margin-top: 90px;
    }
    @include phones() {
      margin-top: 6.428rem;
    }
  }
}
