//Style for welcome section
.l-welcome {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px 100px 35px;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    @include desctop() {
      padding: 24px 20px 30px;
    }
    @include tablets() {
      padding: 24px 24px 30px;
    }
    @include phones() {
      padding: 0.715rem;
    }
  }
  &__authorization {
    background-color: inherit;
    border: 1px solid $white;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    font-size: $middleFont;
    font-weight: $mediumFont;
    line-height: 2.1;
    margin-bottom: 20px;
    outline: none;
    @include roboto;
    overflow: hidden;
    padding: 5px 27px;
    transition: all .5s;
    align-self: flex-end;
    opacity: 0;
    @include phones() {
      padding: 5px 20px;
      align-self: center;
    }
    &:hover, &:focus {
      background-color: $white;
      color: $green;
    }
    &.active {
      opacity: 1;
    }
  }
  &__footer {
    color: $white;
    font-weight: $lightFont;
    margin-top: 20px;
    text-align: center;
    @include tablets() {
      font-size: 0.875rem;
    }
    @include phones() {
      font-size: 1rem;
      line-height: 2rem;
      width: 80%;
    }
  }
}