mixin navigation()
    .l-navigation.js-navigation
        +nav('c-navigation', {
            'Мои работы': './portfolio',
            'Обо мне': './about',
            'Блог': './blog',
            'Авторизация': './'
        })