mixin footer()
    .l-footer
        .l-footer__top
            .l-footer__top-content.l-section__wrapper
                +nav('c-footer-nav', {
                    'Мои работы': './portfolio.html',
                    'Обо мне': './about.html',
                    'Блог': './blog.html',
                    'Авторизация': './index.html'
                })
                +ul('c-social', 'footer', {vk_round:'https://vk.com/igosh', github_round:'https://github.com/igosheva', in_round:'https://github.com/igosheva'})
        .l-footer__bottom.l-section__wrapper
            p Я веб-разработчик из Санкт-Петербурга, и этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.
            p © Игошева Анастасия| создано с любовью в LoftSchool | 2017