mixin hamburger()
    a.c-hamburger.js-hamburger
        i.c-hamburger__stick.c-hamburger__stick--top
        i.c-hamburger__stick.c-hamburger__stick--middle
        i.c-hamburger__stick.c-hamburger__stick--bottom