mixin navigation()
    .l-navigation.js-navigation
        +nav('c-navigation', {
            'Мои работы': './portfolio.html',
            'Обо мне': './about.html',
            'Блог': './blog.html',
            'Авторизация': './index.html'
        })