extends ../_template

block content
  include ../blocks/_menu


  ul.article-wrap
      each index in items
          li.article
              .article__title= index.title
              .article__data= index.date
              .article__text= index.body