extends ../_template

block variables
  script(src='/assets/js/app.js' defer)

block content
    .wrapper
        +hero()
        +hamburger()
        +navigation()
        section.l-section.l-about.js-section-two
            .l-about__col.l-about__col--left
                +leftTriangle('about')
                .l-about__wrapper.l-about__wrapper--left
                    .l-about__title
                        +sectionTitle('about_header', 'Обо мне', 'about')
                    .c-about
                        .c-about__pic(style="background-image: url('assets/images/face.jpg')")
                        +blockTitle('Кто я', 'about')
                        .c-block-text
                            p
                                | Меня зовут Анастасия, мне 23 года, я из Сибири, но проживаю в г.Санкт-Петербург.
                                | Я специализируюсь на HTML-верстке и разрабатываю адаптивные
                                | сайты разного уровня сложности.
                            p
                                | В начале своего профессионального пути я окончила курсы верстки
                                a.c-block-text__link(href='https://htmlacademy.ru/', target='_blank') HTMLAcademy.
                                | Затем около года работала в веб-студии
                                a.c-block-text__link(href='https://www.facebook.com/fullstack.agency/', target='_blank') FullStack Developer
                                | на позиции верстальщика, где занималась решением нетривиальных задач. На данный момент я обучаюсь на курсе
                                | продвинутой веб-разработки в
                                a.c-block-text__link(href='https://loftschool.com/', target='_blank') LoftSchool.
                            p Я постоянно углубляю свои знания в предметной области, используя самые актуальные книги и онлайн-ресурсы.
            .l-about__col.l-about__col--right
                +rightTriangle('about')
                .l-about__wrapper.l-about__wrapper--right
                    .l-skills
                        +blockTitle('Чем я могу быть Вам полезна', 'skills')
                        .c-block-text
                            p
                                | Больше всего меня привлекет Frontend разработка, но я также знакома и могу решать не
                                | сложные задачи на Backend. Но давайте по порядку.
                        ul.l-skills-group
                            li.l-skills-group__item
                                h5.l-skills-group__title Frontend
                                +skillsList({
                                    html: 'HTML5',
                                    css: 'CSS3',
                                    js: 'JavaScript & jQuery',
                                    react: 'React'
                                })
                            li.l-skills-group__item
                                h5.l-skills-group__title Backend
                                +skillsList({
                                    php: 'PHP',
                                    mySQL: 'mySQL',
                                    npm: 'Node.js & npm',
                                    mongo: 'Mongo.db'
                                })
                            li.l-skills-group__item
                                h5.l-skills-group__title WorkFlow
                                +skillsList({
                                    git: 'Git',
                                    gulp: 'Gulp',
                                    bower: 'Bower',
                                    webpack: 'Webpack'
                                })
        section.l-section.l-map
            .c-map#map
            .l-contacts
                +blockTitle('Контакты', 'contacts')
                ul.c-contacts
                    li.c-contacts__item
                        a.c-contacts__link.c-contacts__link--skype(href='skype:anasteziya525') anastaziya525
                            svg.c-contacts__icon
                                use(xlink:href="assets/images/sprite.svg#icons--skype")
                    li.c-contacts__item
                        a.c-contacts__link.c-contacts__link-mail(href='mailto:igosheva.spb@gmail.com') igosheva.spm@gmail.com
                            svg.c-contacts__icon
                                use(xlink:href="assets/images/sprite.svg#icons--envelope")
                    li.c-contacts__item
                        a.c-contacts__link.c-contacts__linl--tel(href='tel:+7(911)914-72-47') +7(911)914-72-47
                            svg.c-contacts__icon
                                use(xlink:href="assets/images/sprite.svg#icons--phone")
                    li.c-contacts__item
                        a.c-contacts__link.c-contacts__link-address г.Санкт-Петербург, пр.Комендантский, д.17/1
                            svg.c-contacts__icon
                                use(xlink:href="assets/images/sprite.svg#icons--map_marker")
            +footer()