extends ../_template

block variables
  -
      var
          title = 'IGOSHEVA|About me',
          description = 'IGOSHEVA|About web-developer Igosheva Nastasia',
          keywords = 'website of web-developer Igosheva Nastasia, front-ent, about Igosheva'
block content
    .wrapper
        h1 It's some another page