extends ../_template

block variables
  -
      var
          title = 'IGOSHEVA|My blog',
          description = 'IGOSHEVA|Blog of web-developer Igosheva Nastasia',
          keywords = 'website of web-developer Igosheva Nastasia, front-ent, blog'

block content
    .wrapper
        include ../blocks/user