extends ../_template

block variables
  script(src='/assets/js/app.js' defer)

block content
    .wrapper
        +hero-blog()
        +hamburger()
        +navigation()
        section.l-section.l-blog.js-section-two#blog
            +leftTriangle('blog')
            +rightTriangle('blog')
            .l-blog-inner.l-section__wrapper
                aside.l-blog-nav
                    .l-blog-nav__inner.js-blog-inner
                        ul.l-blog-nav__list.js-blog-nav
                            li.l-blog-nav__item.active.js-blog-item Самое важное в SASS
                            li.l-blog-nav__item.js-blog-item Приёмы в вёрстке, без которых не обходится ни один сайт
                            li.l-blog-nav__item.js-blog-item Самый необходимый набор Gulp плагинов
                ul.l-blog-content
                    li.l-blog-content__data.l-blog-data.active
                        .l-blog-content__title Самое важное в SASS
                        .l-blog-content__date 22 ноября 2016
                        .l-blog-content__text
                            p
                                | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные
                                |задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая
                                |модель организационной деятельности играет важную роль в формировании новых предложений.
                                |Товарищи! новая модель организационной деятельности играет важную роль в формировании систем
                                |массового участия.
                            p
                                | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу
                                |(специалистов) участие в формировании систем массового участия. Идейные соображения высшего
                                |порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов)
                                |участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи!
                                |постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
                                |модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс
                                |внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                    li.l-blog-content__data.l-blog-data
                        .l-blog-content__title Приёмы в вёрстке, без которых не обходится ни один сайт
                        .l-blog-content__date 13 ноября 2016
                        .l-blog-content__text
                            p
                                | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные
                                | задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая
                                | модель организационной деятельности играет важную роль в формировании новых предложений.
                                | Товарищи! новая модель организационной деятельности играет важную роль в формировании систем
                                | массового участия.
                            p
                                | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу
                                | (специалистов) участие в формировании систем массового участия. Идейные соображения высшего
                                | порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов)
                                | участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи!
                                | постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
                                | модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс
                                | внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                    li.l-blog-content__data.l-blog-data
                        .l-blog-content__title Самый необходимый набор Gulp плагинов
                        .l-blog-content__date 5 ноября 2016
                        .l-blog-content__text
                            p
                                | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные
                                | задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая
                                | модель организационной деятельности играет важную роль в формировании новых предложений.
                                | Товарищи! новая модель организационной деятельности играет важную роль в формировании систем
                                | массового участия.
                            p
                                | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу
                                | (специалистов) участие в формировании систем массового участия. Идейные соображения высшего
                                | порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов)
                                | участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи!
                                | постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
                                | модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс
                                | внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            +footer()
            .l-news-menu.blocked
                .l-news-menu__wrapper
                    a.l-news-menu__handler
                    ul.l-blog-nav__list.js-blog-nav
                        li.l-blog-nav__item.l-blog-nav__item--news.active.js-blog-item Самое важное в SASS
                        li.l-blog-nav__item.l-blog-nav__item--news.js-blog-item Приёмы в вёрстке, без которых не обходится ни один сайт
                        li.l-blog-nav__item.l-blog-nav__item--news.js-blog-item Самый необходимый набор Gulp плагинов