extends ../_template

block variables
  -
      var
          title = 'IGOSHEVA|Portfolio',
          description = 'IGOSHEVA|Portfolio of web-developer Igosheva Nastasia',
          keywords = 'website of web-developer Igosheva Nastasia, front-ent, portfolio, resume'

block content
    .wrapper
        +hero()