extends ../_template

block variables
  -
      var
          title = 'IGOSHEVA|Portfolio',
          description = 'IGOSHEVA|Portfolio of web-developer Igosheva Nastasia',
          keywords = 'website of web-developer Igosheva Nastasia, front-ent, portfolio, resume'

block content
    .wrapper
        section.l-section.l-hero
            .l-section__wrapper.l-hero__inner
                +ul('c-social', 'hero', {vk:'https://vk.com/igosh', github:'https://github.com/igosheva', in:'https://github.com/igosheva'})
                .c-hamburger
                    a.c-hamburger__content
                .l-hero__content
                    svg.l-hero__portfolio(viewBox="0 0 1175.495 313.961")
                        use(xlink:href="assets/images/sprite.svg#icons--portfolio_header")
                    +user('hero')
                svg.l-hero__arrow.js-hero-arrow(viewBox="0 0 25.18 16.164")
                    use(xlink:href="assets/images/sprite.svg#icons--arrow_down")
        section.l-section.l-about
            .l-about__col.l-about__col_left
                svg.l-about__triangle(viewbox="0 0 1000 110" preserveAspectRatio="none")
                    polygon(points="0,0 0,110 1000, 110")
                .l-about__wrapper.l-about__wrapper--left
                    +sectionTitle('about_header', 'Обо мне')
                    .c-about
                        .c-about__pic(style="background-image: url('assets/images/face.jpg')")
                        +blockTitle('Кто я')
                        .c-block-text
                            p
                                |Меня зовут Анастасия, мне 23 года, я из Сибири, но проживаю в г.Санкт-Петербург.
                                |Я специализируюсь на HTML-верстке и разрабатываю адаптивные
                                |сайты разного уровня сложности.
                            p
                                |В начале своего профессионального пути я окончила курсы верстки
                                a.c-block-text__link(href='https://htmlacademy.ru/', target='_blank') HTMLAcademy.
                                |Затем около года работала в веб-студии
                                a.c-block-text__link(href='https://www.facebook.com/fullstack.agency/', target='_blank') FullStack Developer
                                | на позиции верстальщика, где занималась решением нетривиальных задач. На данный момент я обучаюсь на курсе
                                |продвинутой веб-разработки в
                                a.c-block-text__link(href='https://loftschool.com/', target='_blank') LoftSchool.
                            p Я постоянно углубляю свои знания в предметной области, используя самые актуальные книги и онлайн-ресурсы.
            .l-about__col.l-about__col_right
                svg.l-about__triangle(viewbox="0 0 1000 110" preserveAspectRatio="none")
                    polygon(points="0,110 1000,110 1000,0")
                .l-about__wrapper.l-about__wrapper--right
                    .l-skills
                        +blockTitle('Чем я могу быть вам полезен')
                        .c-block-text
                            p
                                |Больше всего меня привлекет Frontend разработка, но я также знакома и могу решать не
                                |сложные задачи на Backend. Но давайте по порядку.
                        ul.l-skills-group
                            li.l-skills-group__item
                                h5.l-skills-group__title Frontend
                                +skillsList({
                                    html: 'HTML5',
                                    css: 'CSS3',
                                    js: 'JavaScript& jQuery'
                                })
                            li.l-skills-group__item
                                h5.l-skills-group__title Backend
                                +skillsList({
                                    php: 'PHP',
                                    mySQL: 'mySQL',
                                    npm: 'Node.js& npm',
                                    mongo: 'Mongo.db'
                                })
                            li.l-skills-group__item
                                h5.l-skills-group__title WorkFlow
                                +skillsList({
                                    git: 'Git',
                                    gulp: 'Gulp',
                                    bower: 'Bower'
                                })
        section.l-section.l-map